@model IEnumerable<FunitureApp.Models.User>

@{
    ViewData["Title"] = "";
}

<h1>Danh sách người dùng boom hàng</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Người dùng
            </th>

            <th>
                Tài khoản
            </th>
            <th>
                Thời gian tạo
            </th>
            <th>
                Tạo bởi
            </th>
            <th>
                Thời gian sửa
            </th>
            <th>
                Sửa bởi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
